*{
    margin: 0;
    padding: 0;
}
#contenidoCabecera{
    width: 100%;
    background-color:  #67999A;
    display: flex;
}
#contenidoCuerpo{
    display: flex;
    width: 100%;
    background-color: #D3EE9F;
    padding-top: 50px;
}
footer{
    width: 100%;
    background-color: #7B9F35;
    display: flex;
    padding: 30px;
}
#cabeceraImagenNombre{
    flex: 30%;
}
#cabeceraMenu{
    flex: 70%;
}
#imagenRedondo{
    width: 150px;
    height: 150px;
    background-color:   white;
    border-radius: 75px;
    position: relative;
    z-index: 1000;
    margin-bottom: 22px;
    left: 5%;
    background-image: url("../img/Recurso\ 8.png");
    background-size: contain;
}
#nombreRectangulo{
    background-color: #003233;
    width: 300px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 14%;
}
ul li{
    display: inline;
    padding: 0 10px;
    border-right: solid 2px black;
}
ul li:last-child{
    border-right: none;
}
ul li a{
    color: #550101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
ul li a:hover{
    color: white;
    font-size: 18px;
    text-decoration: underline dashed 2px;
    background-color: darkblue;
}
#logoinicio{
    background-image: url("../img/Recurso\ 7.png");
    padding: 2px 0 0 20px;
    background-size: 18px;
    background-repeat: no-repeat;
}
#cuerpoImagen{
    flex: 40%;
}
#cuerpoDatos{
    flex: 60%;
}
#bordeImagen{
    background-color: #D46A6B;
    padding: 20px;
    text-align: center;
    width: 70%;
    border-radius: 25px;
}
img{
    border-radius: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}
#DetalleDatos{
    width: 80%;
    padding: 20px;
    text-align: justify;
}
#Botones{
    display: flex;
    margin-top: 20px;
    padding: 30px;
}
#BotonFavorito{
    flex: 50%;
}
#BotonUbicacion{
    flex: 50%;
}
#marcoFavorito{
    background-image: url("../img/Recurso\ 13.png");
}
#marcoUbicacion{
    background-image: url("../img/Recurso\ 2.png");
}
.disenoBoton{
    background-color: #CCCCCC;
    width: 250px;
    background-repeat: no-repeat;
    background-size: 28px;
    padding: 20px 0px 20px 60px;
    background-position: left 25px center;
    border-radius: 15px;
}
.disenoBoton:hover{
    opacity: 80%;
    cursor: pointer;
}
#marcoMenuFooter{
    flex: 15%;
}
#marcoDetalleFooter{
    flex: 35%;
}
#marcoRedesFooter{
    flex: 45%;
}
li img{
    width: 28px;
}
.footerRedes li{
    border: none;
}